<div class="row">

  <div class="large-3 columns">
    <h3 id="options">Get Sentiment Analysis</h3>
  </div>

  <div class="large-4 columns">
    <h1>Twitter</h1>
    <hr>
    <% @incoming.each do |tweet| %>
      <div class="tweet">
        <%= "#{tweet.user.screen_name}: #{tweet.text}"%>
      </div>
      <br><br>
    <% end %>
  </div>

  <div class="large-4 columns">
    <h1>StackOverflow</h1>
    <hr>
    <% @references.each do |ref| %>
      <div class="stack">
        <h5><%= ref["title"] %></h5>
        <%= ref["body"][0..250] %>
        <br>
        <%= link_to("https://stackoverflow.com/questions/#{ref["question_id"]}") do "link" end %>
      </div>
      <br><br>
    <% end %>
  </div>
</div>
