<div class="row">

  <div class="large-3 columns">
    <div id="options">
      <h3>Analyze By:</h3>
      <a href="#" class="button small" id="sentiment">Sentiment</a>
        <a href="#" class="button small" id="keywords">Keyword</a>
    </div>
  </div>

  <div class="large-4 columns">
    <h1>Twitter</h1>
    <hr>
    <% @incoming.each do |tweet| %>
      <div class="tweet">
        <%= "#{tweet.user.screen_name}: #{tweet.text}"%>
      </div>
      <br><br>
    <% end %>
  </div>

  <div class="large-4 columns">
    <h1>StackOverflow</h1>
    <hr>
    <% @references.each do |ref| %>
      <div class="stack">
        <h5><%= link_to("https://stackoverflow.com/questions/#{ref["question_id"]}") do ref['title'] end %></h5>
        <%= ref["body"][0..250] %>
        <br>
      </div>
      <br><br>
    <% end %>
  </div>
</div>
