@import "foundation_and_overrides";
@import url(http://fonts.googleapis.com/css?family=Raleway|Source+Sans+Pro:700);

.tweet {
  transition:all 1s ease;
  -webkit-transition-delay:all 1s ease;
  -moz-transition-delay:all 1s ease;
  -ms-transition-delay:all 1s ease;
  -o-transition-delay:all 1s ease;
}

h1,h2,h3,h4,h5,h6,p {
  color: #EEEEEE;
}

h1,h2 {
  font-family: 'Source Sans Pro', sans-serif;
}

h3,h4,h5,h6,p,a,body {
  font-family: 'Raleway', sans-serif;
}

body {
  background-image: asset_path("footer_lodyas.png");
  color: #EEEEEE;
}

.overlay {
  position: static;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0,140,186,0)), to(rgba(0,0,0,1)));
  background-attachment: fixed;
  opacity: 0.7;
}

.button {
  margin: 1px;
}

#options {
  margin-top: 80px;
}

.topbar {
  background: #111111;
}

.logo {
  margin-left: 40px;
}

#name {
  color: #EEEEEE;
}

.logo:hover {
  opacity: 0.6;
}

#options > .button {
  width: 180px;
}
